@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    position: relative;
    max-width: 70rem;
    margin: auto;

    @include tablet{
        position: static;
        padding: 2rem 2rem 0;
    }

    &__image{
        width: 8rem;
        height: 8rem;
    }
}

.nav{
    display: flex;
    align-items: center;

    &__list{
        display: none;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background-color: $primary;

        @include tablet{
            display: flex;
            position: static;
        }

        &--show{
            display: block;

            @include tablet{
                display: flex;
            }
        }
    }

    &__item{
        display: flex;
        justify-content: center;

        @include tablet{
            display: block;
        }
    }

    &__link{
        text-decoration: none;
        padding: 0.5rem 0 0.25rem;
        font-weight: 700;
        font-size: 1.75rem;

        @include tablet{
            font-size: 1.5rem;
        }

        &--selected{
            border-bottom: 1px solid black;
        }
    }

    &__toggle{
        background-color: transparent;
        border: none;

        @include tablet{
            display: none;
        }
    }
}