.gallery{
    max-width: 1120px;
    margin: 1rem auto;
    padding: 0 1rem;

    &__title{
        text-align: center;
        font-size: 2.5rem;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: start;
        margin-top: 2rem;
        justify-content: center;
    }

    &__image{
        max-width: 21.4375rem;
        object-fit: contain;
        height: fit-content;
    }
}