@use "../styles/variables" as *;

.card{
    max-width: 21.4375rem;
    height: 100%;
    padding: 1rem;

    &__image{
        width: 19.4375rem;
        display: block;
        margin: auto;
        object-fit: cover;
    }

    &__title{
        color: black;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
}

.contact{
    padding: 1rem;
    max-width: 62rem;
    margin: auto;
    text-align: center;
}

.services{
    background-color: black;
    color: white;

    &__list{
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item{
        background-color: white;
    }
}

.section{
    padding: 1rem;

    &__title{
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }
}