@use "../styles/variables" as *;

.header{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contactus{
    text-decoration: none;
    font-weight: 700;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    border: 1px solid black;

    &:hover{
        color: $primary;
        background-color: black;
    }
}

.card{

    &__image{
        width: 4rem;
        display: block;
        margin: auto;
    }

    &__title{
        color: black;
        text-align: center;
    }
}

.contact{
    padding: 1rem;
}

.services{
    background-color: black;
    color: white;

    &__item{
        background-color: white;
    }
}

.section{
    padding: 1rem;
}